/* section ~ tasks */
section {
    display: flex;
    flex-direction: column;
}

/* table styles */

section table {
    overflow-x: auto;
    border-collapse: collapse;
}

section td {
    border: 1px solid #eee;
}