
.listTask { /* upper most wrapper */
    width: 960px;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    box-sizing: content-box;
    background: white;

    border: 1px solid black; /* will be disabled in the future. */
}